/* Color Theme Swatches in Hex */
.site-felipedosreis-1-hex { color: #DB4100; }
.site-felipedosreis-2-hex { color: #DBDA2C; }
.site-felipedosreis-3-hex { color: #DB5116; }
.site-felipedosreis-4-hex { color: #00DBBD; }
.site-felipedosreis-5-hex { color: #6801DB; }

/* Color Theme Swatches in RGBA */
.site-felipedosreis-1-rgba { color: rgba(219, 65, 0, 1); }
.site-felipedosreis-2-rgba { color: rgba(219, 218, 44, 1); }
.site-felipedosreis-3-rgba { color: rgba(219, 81, 22, 1); }
.site-felipedosreis-4-rgba { color: rgba(0, 219, 189, 1); }
.site-felipedosreis-5-rgba { color: rgba(104, 1, 219, 1); }
