$color-background = #212121
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = lighten($color-background, 25%)
$color-scrollbar = $color-border
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = #1A915A
$color-text = #c9cacc
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #1A915A
$color-quote = #1A915A
$highlight = hexo-config("highlight") || "rainbow"
