$color-background = #212121
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #DBDA2C
$color-scrollbar = #6801db
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = #6801db
$color-text = #c9cacc
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #db5116
$color-quote = #0bdbbe
$highlight = hexo-config("highlight") || "rainbow"
